[submodule "kernel"]
	path = kernel
	url = https://github.com/realme-kernel-opensource/realme_gt_master_exploratory_realme_Q5_Pro_GT-Neo3T-AndroidU-kernel-source.git
	branch = main
[submodule "recursive"]
	path = recursive
	url = https://github.com/ermyltsor/android_kernel_realme_sm8250.git
	branch = rui5.0
